:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000008c; 
  /* border-radius: 10px; */
  /* border: 1px solid #16a34a; */
  border-left: 1px solid #16a34a;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #16a34a; /* Color of the scrollbar handle */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #16a34c; /* Color of the scrollbar handle when hovered */
}

/* Scrollbar corner for when both vertical and horizontal scrollbars are present */
::-webkit-scrollbar-corner {
  background: #fff;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; 
  height: 100%;
}

